{% load i18n %}
<div class="pdf_block" data-pdf-url="{{ url }}">
  <h2>{{ display_name }}</h2>
  <!-- templates/html/pdf_view.html -->
  <script src="https://mozilla.github.io/pdf.js/build/pdf.mjs" type="module"></script>

  <div>
      <button id="prev">Previous</button>
      &nbsp; &nbsp;
      <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
      &nbsp; &nbsp;
      <button id="next">Next</button>
  </div>
  <canvas id="the-canvas"></canvas>
  <style>
      #the-canvas {
          border: 1px solid #ccc;
      }
  </style>
  {% if not disable_all_download %}
  <ul>
    {% if allow_download %}
    <li class="pdf-download-button">
      <a href="{{ url }}" download>{% trans "Download the PDF" %}</a>
    </li>
    {% endif %}
    {% if source_url != "" %}
    <li class="pdf-download-button">
      <a href="{{ source_url }}" download>{% if source_text == "" %}{% trans "Download the source document" %}{% else %}{{ source_text }}{% endif %}</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
